body
{
    background-color: #505050;
    height:100%;
}
.topbar
{
    width:75.5vw;
    height:15vh;
    margin-top:2.22vh;
    margin-left:auto;
    margin-right:auto;
    border-radius:1vh;
    background-color: #919191;
    box-shadow: 10px 10px 15px black;
    margin-bottom:0;
}
.topbar img
{
    display:inline-block;
}
.rightimg
{
    float:right;
}

a
{
    text-decoration:none;
}

.centerdiv
{
    background-color: #919191;
    width:54vw;
    height:63vh;
    border-radius:1vh;
    box-shadow: 10px 10px 15px black;
    display:inline-block;
    margin-top:2vh;
    margin-left:1.6vw;
    margin-right:1.6vw;
}

.centerdiv img
{
    width:96%;
    height:95%;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:2%;
    margin-right:2%;
}
.leftbar
{
    height:47vh;
    margin-left:13vw;
    margin-top:2vh;
    background-color: #919191;
    border-radius:1vh;
    box-shadow: 10px 10px 15px black;
    width:7.4vw;
    display:inline-block;
    vertical-align:top;
    
}

.leftbar img{
    width:60%;
    height: auto;
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:0.6vh;
    margin-top:1.2vh;

}
.rightbar
{
    margin-top:2vh;
    height:47vh;
    background-color: #919191;
    border-radius:1vh;
    box-shadow: 10px 10px 15px black;
    width:7.4vw;
    display:inline-block;
    vertical-align:top;
}

.rightbar img{
    width:70%;
    height: auto;
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:0.8vh;
    margin-top:1.2vh;

}

.greenbox {
    background-color:#8cfd8e;
    width:27.6vw;
    height:19.4vh;
    border-radius:1vh;
    box-shadow: 10px 10px 15px black;
    bottom:9vh;
    left:10vw;
    position:absolute;
}

.greenbox p{
    vertical-align:top;
    margin-top:0vh;
    font-size:0.85em;
    margin-left:0.5vw;
    font-style: italic;
    margin-bottom:0.1vh;
}

.greenbox form{
    margin-left:0.5vw;
}

.textspan{
    margin-left:0.5vw;
    font-size:0.85em;
}

.textspan e{
    font-size:200%;
}
.redshadow{
    text-shadow: 0.25em 0.25em 0.25em #ff0000;
}
